# Next.JS
NEXT_PUBLIC_BE_BASEURL=http://localhost:8000

# Django
DEBUG=True
SECRET_KEY=temp-secret-key
ALLOWED_HOSTS=127.0.0.1 localhost

DATABASE_NAME=sample_project
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432

ALLOWED_ORIGINS=http://localhost:3000

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=sample_project

# pgadmin4
PGADMIN_DEFAULT_EMAIL=example@example.com
PGADMIN_DEFAULT_PASSWORD=your-password

# AI
GEMINI_API_KEY=your-gemini-api-key